*{
    margin: 0;
    padding: 0;
    font-family: "Times New Roman";
    font-size: 16px;
}


header{
    display: block;
    width: 85.4%;
    margin: 0 auto;
    height: 142px;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

#menu-horizontal{
    display: block;
    width: 85.1%;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 8px;
    text-align: left;
    height: 51px;
    position: fixed;
    top: 0;
    background-color: red;
    z-index: 5000;
}

.redesSociais{
    margin: 7px 0px 0px 1%;
    list-style-type: none;
    float: left;
    display: inline-block;
    text-align: left;
    width: 45%;
    position: fixed;
}

.redesSociais li, .contato li{
    display: inline-block;
    margin-left: 2%;
}

.redesSociais li a, .contato li a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}

.redesSociais li a:hover, .contato li a:hover{
    text-decoration: underline;
    color: whitesmoke;
}

.busca{
    position: fixed;
    margin: 12px 0px 0px 18%;
    width: 45%;
}

.busca input{
    border-radius: 8px;
    border: 0px;
    width: 77%;
    background-color: whitesmoke;
    border: 1px solid black;
    height: 20px;
}

.busca button{
    width: 20%;
    height: 20px;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 0.9em;
    background-color: white;
    color: black;
}

.contato{
    top: 12px;
    right: 8%;
    list-style-type: none;
    display: inline-block;
    text-align: right;
    width: 235px;
    position: fixed;
}

#cruzLogo{
    width: 99.6%;
    text-align: left;
    margin-top: 50px;
    border-bottom: 1px solid red;
}

#cruzLogo a img{
    display: inline-block;
    float: left;
    min-width: 122px;
    min-height: 122px;
    width: 11.5%;
    height: 11.5%;
    margin-left:4.5%;
    margin-top: 6px;
    max-width: 182px;
    max-width: 182px;
}

#banner{
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 8%;
    height: auto;
    width: 72%;
    max-width: 728px;
    max-height: 90px;
}

#menuEscondido{
    display: none;
}

#container{
    margin: 0 auto;
    width: 85.4%;
}

.menuLateral {
    float: left;
    display: inline-block;
    width: 20%;
}

.menuLateral nav{
    margin-top: 5px;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.menuLateral nav p{
    font-size: 1.3em;
    background-color: red;
    border: 1px solid red;
    border-radius: 8px;
    color: white;
}

.menuLateral nav ul{
    border-left: 1px solid red;
    border-right: 1px solid red;
}

.menuLateral nav ul li{
    display: block;
    margin-top: 5px;
    margin-bottom: 15px;
}

.menuLateral nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    border-bottom: 1px solid red;
}

br{
    clear: both;
}

.mainPrincipal{
    display: inline-block;
    margin-left: 4%;
    width: 75.5%;
}

.mainPrincipal section{
    display: block;
    margin-left: 1.9%;
    margin-top: 5px;
    width: 98%;
    height: auto;
    margin-bottom: 30px;
}

.mainPrincipal section div {
    display: block;
    margin-bottom: 15px;
}

.mainPrincipal section div p{
    display: inline-block;
    font-size: 1.3em;
    margin-bottom: -2px;
}

.desenho{
    display: inline-block;
    border: 1px solid red;
    border-radius: 8px;
    width: 89%;
    height: 15px;
    margin-left: 0.5%;
    background-color: red;
}

.principal{
    display: block;
    float: left;
    width: 45%;
    height: auto;
    margin-right: 3%;
    text-align: center;
    padding: 1%;
}

.principal img{
    border-radius: 8px;
    max-width: 377px;
    max-height: 251px;
    width: 98%;
}

.principal img:hover{
    opacity: 0.8;
}

.principal a{
    color: black;
    text-decoration: none;
}

.principal h1{
    font-size: 1.2em;
    margin-bottom: 10px;
}

.nomeDataPrincipal{
    border-radius: 8px;
    background-color: red;
    text-align: center;
    color: white;
    padding: 1px;
    width: 100%;
    font-size: 0.9em;
}

i{
    font-size: 0.9em;
}

.intro{
    text-align: justify;
    font-size: 1em;
    margin-top: 10px;
}

.secundarios{
    display: inline-block;
    width: 47%;
    height: auto;
    margin-bottom: 20px;
    padding: 1%;
}

.secundarios img{
    border-radius: 8px;
    max-width: 377px;
    max-height: 251px;
    width: 35%;
    display: block;
    float: left;
    margin-right: 3%;
}

.secundarios a img:hover{
    opacity: 0.8;
}

.secundarios a{
    color: black;
    text-decoration: none;
}

.secundarios h2{
    display: inline-block;
    width: 60%;
    margin-bottom: 15px;
}

.nomeDataSecundario{
    display: inline-block;
    border-radius: 8px;
    background-color: red;
    text-align: center;
    color: white;
    padding: 1px;
    width: 60%;
    font-size: 0.9em;
}

hr{
    border: 2px solid red;
    border-radius: 8px;
    display: block;
    margin-top: 8px;
}

footer{
    border-top: black 1px solid;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-radius: 8px;
    width: 85.4%;
    margin: 0 auto;
    text-align: center;
    background-color: red;
    position: relative;
    bottom: 0px;
}

footer span{
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}

.link{
    width: 97%;
    padding: 1%;
}

.linkImagem{
    display: inline-block;
    width: 40%;
    float: left;
    margin-right: 2%;
}

.linkImagem img{
    border-radius: 8px;
    width: 100%;
}

.linkImagem img:hover{
    opacity: 0.8;
}

.link h1{
    width: 53%;
    color: black;
    font-size: 1.2em;
    display: inline-block;
    margin: 0px auto 15px auto;
}

.link p{
    display: inline-block;
    width: 56%;
}

.materiaAberta div{
    width: 80%;
    margin: 20px auto 0px auto;
}

.materiaAberta h1{
    margin: 0px;
    padding: 0px;
    font-size: 2.7em;
}

.materiaAberta span{
    font-size: 1em;
    color: darkslategrey;
    font-weight: 500;
}

.materiaAberta p{
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.materiaAberta div img{
    border-radius: 8px;
    width: 100%;
}

.materiaAberta div img:hover{
    opacity: 0.8;
}

.shareIcons{
    list-style-type: none;
    text-align: right;
    margin-top: 20px;
}

.shareIcons li{
    display: inline;
    margin-left: 2%;
}

.shareIcons li img{
    width: 3.3%;
}

.sobre h1{
    margin-top: 2px;
    font-size: 1.7em;
    font-weight: bold;
}

.sobre div{
    float: left;
    margin-top: 20px;
    margin-right: 3%;
    margin-bottom: 10px;
}

.sobre p{
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.5;
}

.contatos a{
    color: black;
}

.contatos a img{
    width: 28px;
    height: 28px;
}

.contatos h1{
    font-size: 1.2em;
    margin-top: 6px;
    margin-bottom: 20px;
}

.contatos form{
    width: 99%;
    text-align: right;
}

.contatos form label{
    display: none;
}

.contatos form input, .contatos form textarea, .contatos form select{
    width: 100%;
    border: 1px solid red;
    border-radius: 8px;
    padding: 3px 0px 3px 1%;
    margin-bottom: 15px;
    height: 40px;
}

 #submit, .contatos form button {
     border-radius: 8px;
     border: 1px solid red;
     background-color: red;
     color: white;
     width: 10%;
     height: 30px;
     text-align: center;
 }

 .loginBody{
     background-color: rgba(114, 122, 106, 0.43);
 }

 #containerLogin{
     background-color: whitesmoke;
     margin: 3% auto 3% auto;
     width: 60%;
     border: 1px solid whitesmoke;
     border-radius: 8px;
     padding-bottom: 10px;
 }

 #containerLogin header{
     width: 85.4%;
     margin-top: 10px;
 }

 #containerLogin header img{
    display: inline-block;
    min-width: 122px;
    min-height: 122px;
    width: 11.5%;
    height: 11.5%;
    max-width: 182px;
    max-width: 182px;
 }

 #containerLogin main{
    width: 85.4%;
    margin: 0 auto;
 }

 #containerLogin main a{
    color: black;
    display: inline-block;
    text-decoration: none;
    font-size: 0.9em;
    float: right;
    margin-top: -5px;
    margin-right: 1%;
 }

 #containerLogin main a:hover{
     text-decoration: underline;
 }

 .paginator{
     text-align: center;
 }

 .paginator ul{
     width: 70%;
     text-align: center;
     display: inline-block;
     list-style-type: none;
 }

 .paginator ul li{
     margin: 1%;
     display: inline-block;
 }

 .paginator ul li a{
     color: red;
     font-size: 1em;
     font-weight: 800;
 }
