{% extends "registration/base_auth.html" %}

{% block main %}
    <main>
        <article class="contatos">
                <h1>Sign Up</h1>
                <form method="POST" class="post-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ userForm.username }}
                    {{ userForm.email }}
                    {{ userForm.first_name }}
                    {{ userForm.last_name }}
                    {{ userForm.password }}
                    {{ profileForm.image }}
                    {{ profileForm.about_me }}
                    <button class="btn btn-primary" type="submit">Sign Up</button>
                </form>
        </article>
    </main>
{% endblock %}