{% extends "base.html" %}
{% load static %}

{% block main %}

<main id="mainNormal" class="mainPrincipal">
                <article class="materiaAberta">
                    <h1>{{ article.title }}</h1>
                    <div>
                        <img src="/{{ article.image.name }}" alt="{{ article.subtitle }}">
                        <span>{{ article.lide }}</span>
                        <p class="nomeDataPrincipal">{{ article.author }} --- <i>{{ article.date }}</i></p>
                        <p>{{ article.text }}</p>
                    </div>
                    <ul class="shareIcons">
                        <li><a href="#"><img src="{% static 'icones/facebook.png' %}"></a></li>
                        <li><a href='#'><img src="{% static 'icones/instagram.png'%}"></a></li>
                        <li><a href='#'><img src="{% static 'icones/twitter.png' %}"></a></li>
                    </ul>
                </article>
        </main>

{% endblock %}